main {
    margin-top: 50px;
}


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
    .flip {
        display: flex;
        flex-direction: column;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
    .flip {
        display: flex;
        flex-direction: column;
    }
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    .flip {
        display: flex;
        flex-direction: column;
    }
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    .flip {
        display: flex;
        flex-direction: column;
    }
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
    .flip {
        display: flex;
        flex-direction: row;
    }
}